header{
  border-bottom: solid 1px black;
  padding : 10px;
  margin : 10px;
  text-align: center;
}

header p{
  font-size:20px;
}

#game-board{
  text-align: center;
  display: grid;
  justify-content: center;
}
.game-tile-row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  width:240px;
  height:87px;

}

.game-tile{

  font-size: 60px;

  margin : 5px;
  width:75px;
  height:75px;
  border:solid black 1px;
}
.color-tile-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width:240px;
  height:30px;
  margin-bottom:10px;
}
.color-tile{

  width:25px;
  height:25px;
  border:solid black 1px;
}
.third{
  margin-right: 10px;
}

#keyboard{
  display: grid;
  justify-content: center;

}
.keyboard-row{
  display:flex;
  justify-content: center;
  width:500px;
}

button{
  height: 45px;
  width: 45px;
}