/*전체 글씨체*/

p{
  font-family: pretendard;
}
div{
  font-family:pretendard;
  font-weight: 700;
  color:#080B13;
}


/* Header */
header {
  margin: 0 auto;
  display:flex;
  justify-content: space-between;
  border-bottom:1px solid #D3D6DA;
  width: 450px;
  height: 32px;
  text-align: center;

  padding: 5px;
}
header p{
  display:inline;
  font-size:20px;
  margin:0px;
  font-size: 22px;
  font-weight: 900;
}
.header_button{
  display:inline-block;
  width: 32px;
  height: 32px;
  background: white;
  padding:0px;

}



/* Game board */
#game-board{
  display: grid;
  text-align: center;
  justify-content: center;


  padding: 12px;

}
.tile-row{
  margin-bottom:12px;
}

.game-tile-row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  width:232px;
  height:72px;
  margin-bottom:-1px;

}
.color-tile-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width:232px;
  height:24px;
}

.game-tile{

  font-size: 60px;
  width:70px;
  height:70px;
  border:solid 1px #D3D6DA;
  margin-right: 8px;
  background:white;
}

.color-tile{
  width:22px;
  height:22px;
  border:solid #D3D6DA 1px;
  background:white;
}
.third{
  margin-right: 8px;
}

/* keyboard */
#keyboard{
  display: grid;
  justify-content: center;
  width:376px;
  height: 233px;
  margin: 0 auto;

}
.keyboard-row{
  display:-webkit-flex;
  justify-content: center;

  height:48px;
}

button{
  color:#080B14;
  cursor:pointer;
  -webkit-appearance: none;
  -webkit-border-radius: 0;

  width: 32px;
  height: 48px;
  background: #D3D6DA;
  border-radius: 5px;
  margin: 0px 2px;
  border: none;
  padding : 0;

  font-family: Pretendard;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;

  align-items: center;
  text-align: center;
}

img{
  display: block;
  margin: auto;

}
.shiftkey{
  width : 48px;
  height: 48px;
  background: #666666;
}
.del{
  width: 48px;
  height: 48px;
  background: #666666;
}
.enter{
  width: 176px;
  height: 51px;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  background: #05944F;
  color: white;
}
#wordadd_enter{
  width: 176px;
  height: 51px;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  background: #05944F;
  color: white;
}
#hide{
  opacity: 0;
}
/*modal*/
.page{
  width: 450px;
  height: 42px;
}
.page_title{
  display:flex;
  align-items: center;
  justify-content: center;

}
.collect_title{
  margin-left:10px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  height:54px;
}
.collect_title h1{
  font-size: 24px;
  font-weight: 900;
  color: #080B14;
}
.collect_title span{
  font-family: Pretendard Variable;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #263238;
  align-self: flex-end;
  margin-bottom:6px;
}
.collect_title span .number{
  font-weight: bold;
}
.page_title h1{
  font-size: 24px;
  font-weight: 900;
  color: #080B14;
}
.close{
  background: white;
  position: absolute;
  top:16px;
  right:16px;
  cursor:pointer;
}
.page p{
  font-weight: 500;
  font-size: 16px;
  color: #080B14;
  text-align:left;
}
.page .example{
  border-top : 1px solid #E5E5E5;
  border-bottom : 1px solid #E5E5E5;
}

@media only screen and (max-width:450px){
  html{
    height: auto;
  }

  header{

    width: auto;
  }
  .page{
    width: 100%;
  }
  .modal{
    z-index: 2;
  }

  #keyboard{
    z-index: 1;
    position:fixed;
    bottom :5px;
    left: 0px;
    width: 100%;
    height: auto;

  }
  #game-board{
    /*z-index: -1;*/

    transform:scale(0.8);
    padding-top:8px;
  }


  .tile-row{
    margin-bottom: 4px;
  }
  button{
    width: 35px;
    height: 40px;
  }
  .del{
    width: 45px;
    height: 40px;
  }
  .shiftkey{
    width: 45px;
    height: 40px;

  }
  .del img{
    width: 50%;
  }
  .shiftkey img{
    width: 50%;
  }
  .enter{
    height: 40px;
  }




}
@media only screen and (max-width:400px){
  button {
    width: 31px;
  }
}
@media only screen and (max-width:450px){
  #game-board {
    padding-top: 60px;
    transform: scale(1);
  }
}
@media only screen and (max-width:450px) and (max-height:840px){
  #game-board {
    padding-top: 36px;
    transform: scale(1);
  }
}
@media only screen and (max-width:450px) and (max-height:800px){
  #game-board {
    padding-top: 12px;
    transform: scale(1);
  }
}
@media only screen and (max-width:450px) and (max-height:760px){
  #game-board {
    padding-top: 12px;
    transform-origin: 50% 20%;
    transform: scale(0.9);
  }
}
@media only screen and (max-width:450px) and (max-height:720px){
  #game-board {
    padding-top: 12px;
    transform-origin: 50% 20%;
    transform: scale(0.8);
  }
}
@media only screen and (max-width:450px) and (max-height:680px){
  #game-board {
    padding-top: 12px;
    transform-origin: 50% 10%;
    transform: scale(0.7);
  }
}

#stat_under{
  display: flex;
  width:80%;
  justify-content: space-around;
  align-items: center;


}