a{
    text-decoration: none;
}

.wordadd {
    background: var(--Background);
    width: 450px;
    height: 100%;
    text-align: center;
    position: relative;
}
.wordadd_container{
    margin:120px auto 160px auto;
}
.word_list_container{
    display: flex;
    justify-content: space-around;

    margin-bottom:5px;
}
.word_list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 66px;
    height: 32px;
    background: #D3D6DA;
    border: 2px solid #D3D6DA;
    box-sizing: border-box;
    border-radius: 24px;

    font-family: Pretendard Variable;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--MoreText);
}



.modal{
    display: none;
    align-items: center;
    justify-content: center;
    /*box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);*/
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
.page{
    background: var(--Background);
    position:relative;
    width: 450px;
    height: 100%;
    text-align: center;
    border-radius: 10px;
}

.modal-overlay{
    z-index:6;
    background: var(--Overlay);
    opacity:50%;
    width: 100%;
    height: 100%;
    position:absolute;
}
#setting_notice h1{
    font-family: Pretendard Variable;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    margin-bottom : 0;
    letter-spacing: 0.01em;

    /* ◇ Light / Dark */

    color: var(--More);
}
#setting_notice h2{
    font-family: Pretendard Variable;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-top : 0;
    /* or 143% */

    letter-spacing: 0.005em;

    /* ◇ Light / Dark */

    color: var(--More);

    opacity: 0.54;
}
.modal-content{
    color:var(--PrimaryText);
    z-index:7;
    background: var(--ModalBack);
    position:absolute;
    width: 336px;
    height: 380px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);

    top: calc(50% - 344px/2 - 72px);
}
#score_close{
    background: var(--ModalBack);
    display: block;
    width: 24px;
    height: 24px;

    top:10px;
    right:12px;
}
.score h1{

    width:28px;
    height: 24px;
    font-weight: 900;
    font-size: 16px;
    margin:0px;
    text-align: center;

}

.page_container{
    padding-top:34px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.record_container{
    display:flex;

    align-items: center;
    justify-content: center;
    padding-top:8px;

}
.record_each{
    padding: 8px;

}
.record{
    font-size:24px;
    height: 35px;
}
.label{
    font-weight: 500;
    font-size: 16px;
    padding-top:8px;
    color: var(--More);
    height: 23px;
}
.graph_container{
    display:flex;
    flex-direction: column;
    align-items: center;

    padding-top:10px;
    width: 100%;
    padding-bottom: 10px;
}
.graph_each{
    display: flex;
    height: 24px;
    width: 286px;
    align-content: flex-start;


}
.try{
    width: 24px;
    height: 24px;
    vertical-align:center;

}
.graph_num{
    width: 256px;
    height: 24px;

}
meter::-webkit-meter-bar {background: #e6e6e9;}
.share{
    width:128px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    background: var(--Correct);
    color:var(--Background);
}

.share img{
    display: inline;
    width: 16px;
    height: 16px;
    vertical-align:middle;

}
#ClearTest{
    display: inline-block;
    width: 32px;
    height: 32px;
    background: var(--Background);
}
#opinion{
    width:128px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    background: var(--Correct);
    color:var(--Background);
}
.page img {
    width: 100%;
    height: 100%;
}

#stat_under{
    margin-top:8px;
}
#next_word{
    font-weight: bold;
    font-size: 14px;
    color: var(--PrimaryText);

}
#next_word p{
    margin :0px;
}
#time{
    font-weight: 500;
    font-size: 26px;

}

/*setting*/
.line{
    border: 1px solid #E5E5E5;
}
.setting_container{
    margin:12px 8px 0px 8px;
    height: 90vh;
    overflow-y: scroll;

    -ms-overflow-style: none;
    scrollbar-width:none;
}

.setting_container::-webkit-scrollbar{
    display: none;
}
#setting_notice{
    display: flex;
    justify-content: space-between;
    background: #F6F7F8;
    border: 1px solid var(--Border);
    box-sizing: border-box;
    border-radius: 5px;
    height: 56px;
    line-height: 56px;
    padding :0 16px 0 16px;

    font-family: Pretendard Variable;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    background: var(--Notice);
    color: var(--More);
}
.word_collect{
    display: flex;
    justify-content: space-between;

    border: 1px solid var(--Border);
    box-sizing: border-box;
    border-radius: 5px;
    height: 66px;
    line-height: 66px;
    padding :0 16px;
    margin: 4px 0;

    font-family: Pretendard Variable;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: left;

}

.collect_word{
    font-size: 22px;
    color:var(--PrimaryText);
}
.collect_try{
    font-size: 16px;
    color: var(--MoreText);
}
.collect_try img{
    width:13px; height:13px;display:inline; margin-right:6px;
}
.collect_try span{
    font-size: 16px;
    font-weight: normal;
}

.collect_date{
    font-size: 12px;
    color: var(--MoreText);
    line-height: 30px;
    align-self: flex-end;
}
.setting_list{
    margin-bottom: 8px;


}
#setting_notice img{
    width: 24px;
    height: 24px;
    margin:0px;
    position: relative;
    top:16px;

}
#setting_menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin:4px 0px;

}
.setting_menulist{

    height: 104px;
    margin:4px;

    font-family: Pretendard Variable;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.01em;

    color: var(--More);
}
.setting_menulist img{
    width: 44px;
    height: 44px;
    margin:0px;
    margin-bottom:13px;

}
.setting_menulist .bottom{
    width: 33px;
    height: 33px;
}

#setting_list img{
    display:inline;
    width: 16px;
    height: 16px;
    margin:0px;
    position: relative;
    top:2px;
}

.request_container{
    margin:12px 8px 8px 8px;
}