<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <script>
        function copy(){
            let obj = document.getElementById("twit");
            obj.select();
            document.execCommand("copy");
            window.open("https://twitter.com/compose/tweet")
    }
    </script>
</head>
<body>
<a href ="https://koreanwordle.com/admin/record">record</a></br>
<a href ="https://koreanwordle.com/admin/add">add</a>
<h3></h3>
<p th:text="'어제 답 (' +${yesterday.date} +') : ' + ${yesterday.answer}"></p>
<h3></h3>
<p th:text="'오늘 답 (' +${today.date} +') : '+ ${today.answer}"></p>


<textarea rows="10" cols="60" id="twit" style="white-space: pre-line" th:text="${twit}"></textarea>

<input type="button" value="Copy" onclick="copy()" />
<a href="https://unsplash.com/s/photos/penguin">Unsplash</a>
</body>
</html>