<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WORDLE with friends</title>
    <script src="https://unpkg.com/hangul-js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="css/home.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="module" src="js/keyboard.js"></script>




  </head>
  <body>

    <header>
      <p>Wordle</p>
    </header>
    <div id="game-container">
      <div id="game-board">
        <div class="game-tile-row">
          <div class="game-tile"></div>
          <div class="game-tile"></div>
          <div class="game-tile"></div>
        </div>
        <div class="game-tile-row">
          <div class="game-tile"></div>
          <div class="game-tile"></div>
          <div class="game-tile"></div>
        </div>

      </div>
    </div>

    <div id="keyboard">
      <div class="keyboard-row">
        <button class="add">ㅂ</button>
        <button class="add">ㅈ</button>
        <button class="add">ㄷ</button>
        <button class="add">ㄱ</button>
        <button class="add">ㅅ</button>
        <button class="add">ㅛ</button>
        <button class="add">ㅕ</button>
        <button class="add">ㅑ</button>
        <button class="add">ㅐ</button>
        <button class="add">ㅔ</button>
      </div>
      <div class="keyboard-row">
        <button class="add">ㅁ</button>
        <button class="add">ㄴ</button>
        <button class="add">ㅇ</button>
        <button class="add">ㄹ</button>
        <button class="add">ㅎ</button>
        <button class="add">ㅗ</button>
        <button class="add">ㅓ</button>
        <button class="add">ㅏ</button>
        <button class="add">ㅣ</button>
        <button class="del"><-</button>
      </div>
      <div class="keyboard-row">
        <button class="shift">shift</button>
        <button class="add">ㅋ</button>
        <button class="add">ㅌ</button>
        <button class="add">ㅊ</button>
        <button class="add">ㅍ</button>
        <button class="add">ㅠ</button>
        <button class="add">ㅜ</button>
        <button class="add">ㅡ</button>
        <button class="enter">enter</button>
      </div>


    </div>
  </body>
</html>
