<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5HPPGFC');</script>

    <!-- End Google Tag Manager -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3401835397799823"
            crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="naver-site-verification" content="bd4712a89fab272e05877577931fea5e57fde8c3" />
    <meta name="google-site-verification" content="g1HoLz3DJwODmusjheQKRY03vLOaBAWvIOOoownWpQc" />
    <meta name="description" content="누구나 풀 수 있는 간편한 한글 게임! 모아워들은 자음과 모음을 모아 쓰는 최초의 한글 워들입니다. 오늘의 정답 단어를 찾고, 지인과 공유해보세요!">

    <meta property="og:title" content="모아워들" />
    <meta property="og:image" content="image/한글워들 가로 배너.png" />
    <meta property="og:description" content="모아 쓰는 한글워들, 모아워들!">
    <link rel="canonical" href="https://koreanwordle.com">


    <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico" />
    <title>모아워들 - 하루 한 번, 우리말로 즐기는 한글 워들</title>
    <script src="https://unpkg.com/hangul-js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.20/moment-timezone.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.20/moment-timezone-with-data.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/home.css?ver=1.0.3">
    <link rel="stylesheet" type="text/css" href="css/modal.css?ver=1.0.3">
    <link rel="stylesheet" type="text/css" href="css/toast.css?ver=1.0.3">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="module" src="js/keyboard.js?ver=1.0.3"></script>
    <script type="module" src="js/modal.js?ver=1.0.3"></script>
    <script type="module" src="js/toast.js?ver=1.0.3"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"/>


  </head>
  <body ondragstart="return false">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HPPGFC"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <script>
    if(localStorage.getItem("dark")== null){
      localStorage.setItem("dark", "false");
    }
    else if(localStorage.getItem("dark")=="true"){
      document.body.classList.add("dark-mode");
    }
    else{
      document.body.classList.remove("dark-mode");
    }
  </script>

    <header>

      <div>
        <a href="/guide">
        <button class="header_button" id=""><img id="HowToPlay_image" src="image/HowToPlay.svg"></button>
        </a>
          <button id ="ClearTest"></button>
      </div>
      <p>모아워들</p>

      <div>
        <button class="header_button" id="score"><img id="score_image" src="image/Score.svg"></button>
        <button class="header_button" id="setting"><img id="more_image" src="image/more.svg"></button>
      </div>


    </header>

    <div id="toast"></div>

    <div class="modal howtoplay">
      <div class="page">
        <div class="page_title">
          <h1>게임 방법</h1>
          <button class="close"><img src="image/Close_MD.svg"></button>
        </div>
        <img src="image/이용안내.svg">
      </div>
    </div>

    <div class="modal score">
      <div class="modal-overlay"></div>
      <div class="modal-content">
        <div class = "page_container">
          <button id="score_close" class="close"><img src="image/Close_MD.svg"></button>
          <h1>기록</h1>
          <div class = "record_container">
            <div class ="record_each">
              <div id="play" class="record">0</div>
              <div class="label">플레이</div>
            </div>
            <div class ="record_each">
              <div id="winRate" class="record">0%</div>
              <div class="label">승률</div>
            </div>
            <div class ="record_each">
              <div id="combo" class="record">0</div>
              <div class="label">현재 콤보</div>
            </div>
            <div class ="record_each">
              <div id="maxcombo" class="record">0</div>
              <div class="label">최대 콤보</div>
            </div>
          </div>
          <div class = "graph_container">
            <div class = "graph_each" >
              <div class = "try">1</div>
              <meter class=graph_num id="graph1" min="0" max="10" value="0"></meter>

            </div>
            <div class = "graph_each" >
              <div class = "try">2</div>
              <meter class=graph_num id="graph2" min="0" max="10" value="0">0</meter>
            </div>
            <div class = "graph_each" >
              <div class = "try">3</div>
              <meter class=graph_num id="graph3" min="0" max="10" value="0">0</meter>
            </div>
            <div class = "graph_each" >
              <div class = "try">4</div>
              <meter class=graph_num id="graph4" min="0" max="10" value="0">0</meter>
            </div>
            <div class = "graph_each" >
              <div class = "try">5</div>
              <meter class=graph_num id="graph5" min="0" max="10" value="0">0</meter>
            </div>
          </div>

          <div id = "stat_under"style="display:flex;">
            <div id ="next_word">
              <p>다음 단어까지</p>
              <p id = "time">00:00:00</p>
            </div>
            <button class="share">공유하기 <img src="image/Share_Android.svg"></button>
            <!--            <button id="opinion">의견 보내기</button>-->

          </div>
        </div>
        </div>
      </div>
    </div>

    <div class="modal setting">
      <div class="page">
        <div class="page_title">
          <h1>더보기</h1>
          <button class="close"><img id="close_image" src="image/Close_MD.svg"></button>
        </div>
        <div class="setting_container">
          <a href="https://han.gl/vKNa1" target="_blank">
            <div id ="setting_notice"><b><span style="color: #04944F">🚨 모아워들 서비스 종료에 대해 안내드립니다.</span></b><img id="notice_image"src="image/notice.svg"></div></a>
          <div id="setting_menu">
            <a href="/request"><div class="setting_menulist "><img id="WordRequest_image" src="image/WordRequest.svg">단어추가</div></a>
            <a href="https://cottony-perch-6eb.notion.site/b037ae179f0c447aa042bda01408c2ba?v=7e6081ebf9bf497abc9fe37e46650d54" target="_blank">
              <div class="setting_menulist "><img id="Calendar_Day_image" src="image/Calendar_Day.svg">지난정답</div></a>
            <a href="https://cottony-perch-6eb.notion.site/d721cdafcad94f91bf7491893261d28c" target="_blank">
              <div class="setting_menulist "><img id="update_image"src="image/update.svg">업데이트</div></a>
            <a href="https://forms.gle/xDfLd3frsQbtdcPb6" target="_blank">
              <div class="setting_menulist "><img id="opinion_image" src="image/Opinion.svg">의견전달</div></a>
            <a href="https://cottony-perch-6eb.notion.site/08dce7a261234e49af1ce1dafd90d1bf" target="_blank">
              <div class="setting_menulist "><img id="notion" class="bottom" src="image/notion.svg">블로그</div></a>
            <a href="https://twitter.com/KoreanWordle" target="_blank">
              <div class="setting_menulist "><img id="twitter" class="bottom" src="image/twitter.svg">트위터</div></a>
            <a href="https://litt.ly/koreanwordle" target="_blank">
              <div class="setting_menulist "><img id="littly" class="bottom" src="image/littly.svg">리틀리</div></a>

              <div class="setting_menulist"style="cursor:pointer;" id="dark"><img id="darkmode_image" class="bottom" src="image/light.svg">테마색</div>
          </div>
          <div class="line"></div>
          <div class ="collect_title">
            <h1>내가 맞힌 단어</h1>
            <span>정답 <span id="correct_number" class="number">0</span> 도전 <span id="challenge_number" class="number">0</span></span>
          </div>
          <div class="setting_list">


          </div>
        </div>

    </div>
    </div>
    <div id="game-board">
      <div class="tile-row">
        <div class="game-tile-row">
          <div class="game-tile"></div>
          <div class="game-tile"></div>
          <div class="game-tile"></div>
        </div>
        <div class="color-tile-row">
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile third"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile third"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
        </div>
      </div>
      <div class="tile-row">
        <div class="game-tile-row">
          <div class="game-tile"></div>
          <div class="game-tile"></div>
          <div class="game-tile"></div>
        </div>
        <div class="color-tile-row">
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile third"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile third"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
        </div>
      </div>
      <div class="tile-row">
        <div class="game-tile-row">
          <div class="game-tile"></div>
          <div class="game-tile"></div>
          <div class="game-tile"></div>
        </div>
        <div class="color-tile-row">
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile third"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile third"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
        </div>
      </div>
      <div class="tile-row">
        <div class="game-tile-row">
          <div class="game-tile"></div>
          <div class="game-tile"></div>
          <div class="game-tile"></div>
        </div>
        <div class="color-tile-row">
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile third"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile third"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
        </div>
      </div>
      <div class="tile-row">
        <div class="game-tile-row">
          <div class="game-tile"></div>
          <div class="game-tile"></div>
          <div class="game-tile"></div>
        </div>
        <div class="color-tile-row">
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile third"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile third"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
        </div>
      </div>


    </div>

    <div id="keyboard">
      <div class="keyboard-row">
        <button id = "ㅂ" class="add shift">ㅂ</button>
        <button id = "ㅃ" class="add shift shiftAfter"style="display:none;">ㅃ</button>
        <button id = "ㅈ" class="add shift">ㅈ</button>
        <button id = "ㅉ" class="add shift shiftAfter"style="display:none;">ㅉ</button>
        <button id = "ㄷ" class="add shift">ㄷ</button>
        <button id = "ㄸ" class="add shift shiftAfter"style="display:none;">ㄸ</button>
        <button id = "ㄱ" class="add shift">ㄱ</button>
        <button id = "ㄲ" class="add shift shiftAfter"style="display:none;">ㄲ</button>
        <button id = "ㅅ" class="add shift">ㅅ</button>
        <button id = "ㅆ" class="add shift shiftAfter"style="display:none;">ㅆ</button>
        <button id = "ㅛ" class="add">ㅛ</button>
        <button id = "ㅕ" class="add">ㅕ</button>
        <button id = "ㅑ" class="add">ㅑ</button>
        <button id = "ㅐ" class="add shift">ㅐ</button>
        <button id = "ㅒ" class="add shift shiftAfter"style="display:none;">ㅒ</button>
        <button id = "ㅔ" class="add shift">ㅔ</button>
        <button id = "ㅖ" class="add shift shiftAfter"style="display:none;">ㅖ</button>
      </div>
      <div class="keyboard-row">


        <button id = "ㅁ" class="add">ㅁ</button>
        <button id = "ㄴ" class="add">ㄴ</button>
        <button id = "ㅇ" class="add">ㅇ</button>
        <button id = "ㄹ" class="add">ㄹ</button>
        <button id = "ㅎ" class="add">ㅎ</button>
        <button id = "ㅗ" class="add">ㅗ</button>
        <button id = "ㅓ" class="add">ㅓ</button>
        <button id = "ㅏ" class="add">ㅏ</button>
        <button id = "ㅣ" class="add">ㅣ</button>

      </div>
      <div class="keyboard-row">
        <button class="shiftkey"><img id="shift_image"src="image/shift.svg"></button>
        <button id = "ㅋ" class="add">ㅋ</button>
        <button id = "ㅌ" class="add">ㅌ</button>
        <button id = "ㅊ" class="add">ㅊ</button>
        <button id = "ㅍ" class="add">ㅍ</button>
        <button id = "ㅠ" class="add">ㅠ</button>
        <button id = "ㅜ" class="add">ㅜ</button>
        <button id = "ㅡ" class="add">ㅡ</button>
        <button class="del"><img id="erase_image" src="image/Erase.svg"></button>

      </div>
      <div class="keyboard-row">
        <button class="enter">확인하기</button>
      </div>
    </div>
  </body>

</html>
