<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5HPPGFC');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">

    <meta property="og:title" content="한글 워들 - 매일 바뀌는 우리말 단어 찾기" />
    <meta property="og:image" content="image/한글워들 가로 배너.png" />
    <meta property="og:description" content="">

    <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico" />
    <title>한글 워들</title>
    <script src="https://unpkg.com/hangul-js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <link rel="stylesheet" type="text/css" href="css/modal.css">
    <link rel="stylesheet" type="text/css" href="css/toast.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="module" src="js/keyboard.js"></script>
    <script type="module" src="js/modal.js"></script>
    <script type="module" src="js/toast.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"/>


  </head>
  <body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HPPGFC"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

    <header>

      <div>
        <button class="header_button" id="howtoplay"><img src="image/HowToPlay.svg"></button>
        <button id ="ClearTest"></button>
      </div>
      <p>한글 워들</p>

      <div>
        <button class="header_button" id="score"><img src="image/Score.svg"></button>
        <button class="header_button" id="setting"><img src="image/Setting.svg"></button>
      </div>


    </header>

    <div id="toast"></div>

    <div class="modal howtoplay">
      <div class="page">
        <div class="page_title">
          <h1>게임 방법</h1>
          <button class="close"><img src="image/Close_MD.svg"></button>
        </div>
        <img src="image/이용안내.svg">
      </div>
    </div>

    <div class="modal score">
      <div class="modal-overlay"></div>
      <div class="modal-content">
        <div class = "page_container">
          <button id="score_close" class="close"><img src="image/Close_MD.svg"></button>
          <h1>기록</h1>
          <div class = "record_container">
            <div class ="record_each">
              <div id="play" class="record">0</div>
              <div class="label">플레이</div>
            </div>
            <div class ="record_each">
              <div id="winRate" class="record">0%</div>
              <div class="label">승률</div>
            </div>
            <div class ="record_each">
              <div id="combo" class="record">0</div>
              <div class="label">현재 콤보</div>
            </div>
            <div class ="record_each">
              <div id="maxcombo" class="record">0</div>
              <div class="label">최대 콤보</div>
            </div>
          </div>
          <div class = "graph_container">
            <div class = "graph_each" >
              <div class = "try">1</div>
              <meter class=graph_num id="graph1" min="0" max="10" value="0"></meter>

            </div>
            <div class = "graph_each" >
              <div class = "try">2</div>
              <meter class=graph_num id="graph2" min="0" max="10" value="0">0</meter>
            </div>
            <div class = "graph_each" >
              <div class = "try">3</div>
              <meter class=graph_num id="graph3" min="0" max="10" value="0">0</meter>
            </div>
            <div class = "graph_each" >
              <div class = "try">4</div>
              <meter class=graph_num id="graph4" min="0" max="10" value="0">0</meter>
            </div>
            <div class = "graph_each" >
              <div class = "try">5</div>
              <meter class=graph_num id="graph5" min="0" max="10" value="0">0</meter>
            </div>
          </div>

          <div id = "stat_under"style="display:flex;">
            <div id ="next_word">
              <p>다음 단어까지</p>
              <p id = "time">00:00:00</p>
            </div>
            <button class="share">공유하기 <img src="image/Share_Android.svg"></button>
            <!--            <button id="opinion">의견 보내기</button>-->

          </div>
        </div>
        </div>
      </div>
    </div>

    <div class="modal setting">
      <div class="page">
        <div class="page_title">
          <h1>설정</h1>
          <button class="close"><img src="image/Close_MD.svg"></button>
        </div>
        <div class="setting_container">
          <a href="https://cottony-perch-6eb.notion.site/dfdcf0891d6a4f3dab86a0b00ba777de?v=f11ad4ecf71a41f3bb0dde98d2dad940" target="_blank">
            <div id ="setting_notice"><span>공지사항을 전달해 드립니다. :)</span><img src="image/Notice%20icon.svg"></div></a>
          <div class="line"></div>
          <div id="setting_menu">
            <a href="/request"><div class="setting_menulist list_left"><img src="image/Add_Plus_Circle.svg">단어추가 요청</div></a>
            <a href="https://cottony-perch-6eb.notion.site/7b0a29a33f674aad8b79fc4bf9613fc4?v=c5ec199b63c74b3699ae28516d9dd2e8" target="_blank">
              <div class="setting_menulist list_right"><img src="image/Calendar_Days.svg">날짜별 정답</div></a>
            <a href="https://cottony-perch-6eb.notion.site/a9e705bb34e94ebdb727c29f950c143e" target="_blank">
              <div class="setting_menulist list_left"><img src="image/Paper_Plane.svg">업데이트 현황</div></a>
            <a href="https://forms.gle/xDfLd3frsQbtdcPb6" target="_blank">
              <div class="setting_menulist list_right"><img src="image/Triangle_Check.svg">의견 보내기</div></a>
          </div>
          <div class="line"></div>
          <div id="setting_list">
            <p style="padding-left: 20px; display: flex;justify-content: space-between;">
              지금은 베타테스트 기간입니다. <a href="https://litt.ly/koreanwordle" target="_blank"><img src="image/Circle_Warning.svg"></a></p>
            <p style="padding-left: 20px;color:#818384;">FeedBack : koreanwordle@gmail.com</p>
          </div>
        </div>

    </div>
    </div>
    <div id="game-board">
      <div class="tile-row">
        <div class="game-tile-row">
          <div class="game-tile"></div>
          <div class="game-tile"></div>
          <div class="game-tile"></div>
        </div>
        <div class="color-tile-row">
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile third"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile third"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
        </div>
      </div>
      <div class="tile-row">
        <div class="game-tile-row">
          <div class="game-tile"></div>
          <div class="game-tile"></div>
          <div class="game-tile"></div>
        </div>
        <div class="color-tile-row">
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile third"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile third"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
        </div>
      </div>
      <div class="tile-row">
        <div class="game-tile-row">
          <div class="game-tile"></div>
          <div class="game-tile"></div>
          <div class="game-tile"></div>
        </div>
        <div class="color-tile-row">
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile third"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile third"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
        </div>
      </div>
      <div class="tile-row">
        <div class="game-tile-row">
          <div class="game-tile"></div>
          <div class="game-tile"></div>
          <div class="game-tile"></div>
        </div>
        <div class="color-tile-row">
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile third"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile third"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
        </div>
      </div>
      <div class="tile-row">
        <div class="game-tile-row">
          <div class="game-tile"></div>
          <div class="game-tile"></div>
          <div class="game-tile"></div>
        </div>
        <div class="color-tile-row">
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile third"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile third"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
          <div class="color-tile"></div>
        </div>
      </div>


    </div>

    <div id="keyboard">
      <div class="keyboard-row">
        <button id = "ㅂ" class="add shift">ㅂ</button>
        <button id = "ㅃ" class="add shift shiftAfter"style="display:none;">ㅃ</button>
        <button id = "ㅈ" class="add shift">ㅈ</button>
        <button id = "ㅉ" class="add shift shiftAfter"style="display:none;">ㅉ</button>
        <button id = "ㄷ" class="add shift">ㄷ</button>
        <button id = "ㄸ" class="add shift shiftAfter"style="display:none;">ㄸ</button>
        <button id = "ㄱ" class="add shift">ㄱ</button>
        <button id = "ㄲ" class="add shift shiftAfter"style="display:none;">ㄲ</button>
        <button id = "ㅅ" class="add shift">ㅅ</button>
        <button id = "ㅆ" class="add shift shiftAfter"style="display:none;">ㅆ</button>
        <button id = "ㅛ" class="add">ㅛ</button>
        <button id = "ㅕ" class="add">ㅕ</button>
        <button id = "ㅑ" class="add">ㅑ</button>
        <button id = "ㅐ" class="add shift">ㅐ</button>
        <button id = "ㅒ" class="add shift shiftAfter"style="display:none;">ㅒ</button>
        <button id = "ㅔ" class="add shift">ㅔ</button>
        <button id = "ㅖ" class="add shift shiftAfter"style="display:none;">ㅖ</button>
      </div>
      <div class="keyboard-row">


        <button id = "ㅁ" class="add">ㅁ</button>
        <button id = "ㄴ" class="add">ㄴ</button>
        <button id = "ㅇ" class="add">ㅇ</button>
        <button id = "ㄹ" class="add">ㄹ</button>
        <button id = "ㅎ" class="add">ㅎ</button>
        <button id = "ㅗ" class="add">ㅗ</button>
        <button id = "ㅓ" class="add">ㅓ</button>
        <button id = "ㅏ" class="add">ㅏ</button>
        <button id = "ㅣ" class="add">ㅣ</button>

      </div>
      <div class="keyboard-row">
        <button class="shiftkey"><img src="image/shift_icon_159877 1.svg"></button>
        <button id = "ㅋ" class="add">ㅋ</button>
        <button id = "ㅌ" class="add">ㅌ</button>
        <button id = "ㅊ" class="add">ㅊ</button>
        <button id = "ㅍ" class="add">ㅍ</button>
        <button id = "ㅠ" class="add">ㅠ</button>
        <button id = "ㅜ" class="add">ㅜ</button>
        <button id = "ㅡ" class="add">ㅡ</button>
        <button class="del"><img src="image/Erase%20icon.svg"></button>

      </div>
      <div class="keyboard-row">
        <button class="enter">확인하기</button>
      </div>
    </div>
  </body>

</html>
