<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <style type="text/css">
    table{
      border:1px solid black;
    }
    th, td{
      border:1px solid black;
    }
    td{
      text-align: right;
    }
  </style>
</head>
<body>
<div class="container">
  <div>
    <table>
      <thead>
      <tr>
        <th>날짜</th>
        <th>첫 시도</th>
        <th>성공</th>
        <th>실패</th>
        <th>탈주</th>
        <th>4회 후 탈주</th>
        <th>1트성공</th>
        <th>2트성공</th>
        <th>3트성공</th>
        <th>4트성공</th>
        <th>5트성공</th>


      </tr>
      </thead>
      <tbody>
      <tr th:each="dailyrecord : ${records}">
        <td th:text="${dailyrecord.date}"></td>
        <td th:text="${dailyrecord.trystart}"></td>
        <td th:text="${dailyrecord.correctanswer}"></td>
        <td th:text="${dailyrecord.fail}"></td>
        <td th:text="${dailyrecord.trystart}-${dailyrecord.correctanswer}-${dailyrecord.fail}"></td>
        <td th:text="${dailyrecord.fourtryrun}-${dailyrecord.fourtrycorrect}"></td>
        <td th:text="${dailyrecord.onetrycorrect}"></td>
        <td th:text="${dailyrecord.twotrycorrect}"></td>
        <td th:text="${dailyrecord.threetrycorrect}"></td>
        <td th:text="${dailyrecord.fourtrycorrect}"></td>
        <td th:text="${dailyrecord.fivetrycorrect}"></td>



      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>